auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false

# L4 Design System + authz (GitHub Packages) — token via env var NODE_AUTH_TOKEN (PAT com read:packages)
@l4-web:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
